// out: todos.component.css

bg = #2f343b
text = #e3cda4
fade = #7e827a
delete = #703030
comp = #C77966

h3
  text-align center
  border-bottom 1px solid fade

form
  padding 1em
  height 4.2em
  width 65%
  margin 0 auto
  display flex
  justify-content center
  input
    color text
    background #ddd
    border 1px solid fade
    outline none
  input[type='text']
    flex 6
    border-radius .4em 0 0 .4em
    text-indent .4em
    color #222
    transition border .33s ease-in-out
    &:focus
      border 2px solid comp
  input[type='submit']
    flex 1
    border-radius 0 .4em .4em 0
    border-left none
    background inherit
    transition background .33s ease-in-out
    &:hover
      background comp
ul
  width 100%
  list-style none
  line-height 1.5
  display flex
  flex-direction column
  align-items center
  li
    padding 1em
    margin 1em 0
    width 65%
    border-radius .6em
    border 1px dashed fade
    display flex
    p
      flex 7
    button
      flex 1
      color text
      height 2em
      border 1px solid delete
      border-radius .6em
      outline none
      background inherit
      transition background .33s ease-in-out
      &:hover
        background delete
