// out: styles.css

@import url('https://fonts.googleapis.com/css?family=Noto+Sans')

bg = #2f343b
text = #e3cda4
fade = #7e827a
delete = #703030

*
  padding 0
  margin 0
  box-sizing border-box

body
  font-family: 'Noto Sans', sans-serif
  line-height: 1.5
  background bg
  color text

h1
  text-align center
